logs/*
src/api/app/config.php
files/*
src/ui/src/config.php
var/*
.settings/
.buildpath
.project
src/api/files/CSEntry2/code_machine.pen
src/api/files/CSEntry2/code_machine2.pen
src/api/files/CSEntry2/test.pen
src/api/files/CSEntry2/test2.txt
src/api/files/CSEntry2/test3.txt
src/api/files/code_machine.pen
src/api/files/foo/bar/test.txt
cspro.7z
cspro_terms_of_service.rtf
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
src/AppBundle/config.php
