# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 'localhost'
    database_port: 3306
    database_name: cspro
    database_user: root
    database_password: null
    secret: ThisTokenIsNotSoSecretChangeIt
    #API related parameters
    enable_oauth: true
    csweb_api_files_folder: 'C:\code\csweb\files'
    csweb_api_default_timezone: 'Europe/Paris'
  

