<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <system.webServer>
      <rewrite>
	  <rules>
		<clear />
		<rule name="setup rule" stopProcessing="true">
		  <match url="index.php" ignoreCase="false" />
		  <action type="Rewrite" url="index_rewrite.php" appendQueryString="true" />
		</rule>
	  </rules>
	 </rewrite>
    </system.webServer>
  </configuration>
