<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <system.webServer>
      <defaultDocument>
        <files>
          <add value="app.php" />
        </files>
      </defaultDocument>
      <rewrite>
        <rules>
          <clear />
          <rule name="StaticFiles" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
              <add input="{REQUEST_FILENAME}" matchType="IsFile"/>
            </conditions>
            <action type="Rewrite" url="{R:0}" logRewrittenUrl="true" />
          </rule>
          <rule name="Symfony 3" enabled="true" stopProcessing="true">
            <match url=".?" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
              <action type="Rewrite" url="./app.php" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </configuration>
